In [15]:
%run MasseyMethod.ipynb

In [9]:
games_score = [['Duke', 'Miami', 7, 52],
 ['Duke', 'UNC', 21, 24],
 ['Duke', 'UVA', 7, 38],
 ['Duke', 'VT', 0, 45],
 ['Miami', 'UNC', 34, 16],
 ['Miami', 'UVA', 25, 17],
 ['Miami', 'VT', 27, 7],
 ['UNC', 'UVA', 7, 5],
 ['UNC', 'VT', 3, 30],
 ['UVA', 'VT', 14, 52]]

In [16]:
massey_rank(games_score)

    Team     r  Rank with r      o  Offensive Rank      d  Dfensive Rank
0   Duke -24.8            5   1.97               4 -26.77              5
1  Miami  18.2            1  21.98               1  -3.78              2
2    UNC  -8.0            4   1.38               5  -9.38              3
3    UVA  -3.4            3   7.84               3 -11.24              4
4     VT  18.0            2  20.71               2  -2.71              1

In [10]:
df_score = agg_scores(games_score)
point_differential, points_for, points_against = generate_point_diff(df_score)
M = matrix_M(df_score)
r = calculate_rating(M, point_differential)
defensive = defensive_score(M, r, points_for)
ofensive = r - defensive

In [11]:
teams = sorted(df_score['team_1'].unique())
rank_r = ranking(r)
rank_ofensive = ranking(ofensive)
rank_defensive = ranking(defensive)

In [12]:
list_of_tuples = list(zip(teams, r, rank_r, ofensive, rank_ofensive, defensive, rank_defensive))  
df = pd.DataFrame(list_of_tuples, columns = ['Team', 'r', 'Rank with r', 'o', 'Offensive Rank', 'd', 'Dfensive Rank'])    
df

    Team     r  Rank with r      o  Offensive Rank      d  Dfensive Rank
0   Duke -24.8            5   1.97               4 -26.77              5
1  Miami  18.2            1  21.98               1  -3.78              2
2    UNC  -8.0            4   1.38               5  -9.38              3
3    UVA  -3.4            3   7.84               3 -11.24              4
4     VT  18.0            2  20.71               2  -2.71              1